@model AspRPG.Models.Player
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Model.Name | Level: @Model.Level | Exp: @Model.Exp | DmgMod: @Model.DmgMod | Current Hp: @Model.Hp
 
<br />
@if (Model.Weapon != null)
{
    <p>Weapon: @Model.Weapon.Description | +@Model.Weapon.DmgMod Damage</p>
}
<br />
Current Room id: @Model.CurrentRoomId | x: @Model.CurrentRoom.X | y: @Model.CurrentRoom.Y 
@if (Model.CurrentRoom.Monsters.Count > 0)
{
    <ul>
        @foreach (var monster in Model.CurrentRoom.Monsters)
        {
            <li>
                A @monster.Description Attacks! HP: @monster.Hp
                @using (Html.BeginForm("Fight", "Game"))
                {
                    <input type="hidden" value="@Model.Id" name="PlayerId" id="PlayerId" />
                    <input type="hidden" value="@monster.Id" name="MonsterId" id="MonsterId" />
                    <input type="submit" value="Fight!" />
                }
            </li>
        }
    </ul>
}
else
{
    @if (Model.CurrentRoom.EastDoor)
    {
        @using (Html.BeginForm("MoveEast", "Game", new { id = Model.Id }))
        {
            @Html.HiddenFor(p => Model.Id)
            @Html.HiddenFor(r => Model.CurrentRoomId)
            @Html.HiddenFor(p => Model.Name)
            <input type="submit" value="Go East" />
        }
    }
    @if (Model.CurrentRoom.WestDoor)
    {
        @using (Html.BeginForm("MoveWest", "Game", new { id = Model.Id }))
        {
            @Html.HiddenFor(p => Model.Id)
            @Html.HiddenFor(r => Model.CurrentRoomId)
            @Html.HiddenFor(p => Model.Name)
            <input type="submit" value="Go West" />
        }
    }
    @if (Model.CurrentRoom.NorthDoor)
    {
        @using (Html.BeginForm("MoveNorth", "Game", new { id = Model.Id }))
        {
            @Html.HiddenFor(p => Model.Id)
            @Html.HiddenFor(r => Model.CurrentRoomId)
            @Html.HiddenFor(p => Model.Name)
            <input type="submit" value="Go North" />
        }
    }
    @if (Model.CurrentRoom.SouthDoor)
    {
        @using (Html.BeginForm("MoveSouth", "Game", new { id = Model.Id }))
        {
            @Html.HiddenFor(p => Model.Id)
            @Html.HiddenFor(r => Model.CurrentRoomId)
            @Html.HiddenFor(p => Model.Name)
            <input type="submit" value="Go South" />
        }
    }
}
